.vscode
node_modules
src/
.gitignore
.vscodeignore
tsconfig.json
*.vsix
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.eslintignore
.eslintrc.json
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
!**/*.d.ts
